<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>digital-valley-sara</display-name>
  <welcome-file-list>
    <welcome-file>webapp/jsp/indexAutor.jsp</welcome-file>
  </welcome-file-list>
  <!-- Nomenando os servlets -->
  <!-- 1 -->
  <servlet>
    <servlet-name>CadastrarAvaliador</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.CadastrarAvaliador</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Autenticar</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.Autenticacao</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditarCriterio</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.EditarCriterio</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdicionarCoordenador</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.AdicionarCoordenador</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdicionarCriterio</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.AdicionarCriterio</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdicionarTrilha</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.AdicionarTrilha</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoverCoordenador</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.RemoverCoordenador</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlterarPeriodo</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.AlterarPeriodo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdicionarPeriodo</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.AdicionarPeriodo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoverPeriodo</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.RemoverPeriodo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoverTrilha</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.RemoverTrilha</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoverAvaliador</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.RemoverAvaliador</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoverCriterio</servlet-name>
  	<servlet-class>br.com.n2s.sara.controller.RemoverCriterio</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CadastrarEvento</servlet-name>
  	<servlet-class>br.com.n2s.sara.controller.CadastrarEvento</servlet-class>
  </servlet>
    
  <!-- Mapeando os servlets -->
  
  <servlet-mapping>
    <servlet-name>CadastrarAvaliador</servlet-name>
    <url-pattern>/cadastrarAvaliador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Autenticar</servlet-name>
    <url-pattern>/autentica</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditarCriterio</servlet-name>
    <url-pattern>/editarCriterio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdicionarCoordenador</servlet-name>
    <url-pattern>/adicionarCoordenador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdicionarCriterio</servlet-name>
    <url-pattern>/adicionarCriterio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdicionarTrilha</servlet-name>
    <url-pattern>/adicionarTrilha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoverCoordenador</servlet-name>
    <url-pattern>/removerCoordenador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterarPeriodo</servlet-name>
    <url-pattern>/alterarPeriodo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdicionarPeriodo</servlet-name>
    <url-pattern>/adicionarPeriodo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoverPeriodo</servlet-name>
    <url-pattern>/removerPeriodo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoverTrilha</servlet-name>
    <url-pattern>/removerTRilha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoverAvaliador</servlet-name>
    <url-pattern>/removerAvaliador</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoverCriterio</servlet-name>
  	<url-pattern>/removerCriterio</url-pattern>
  </servlet-mapping>
</web-app>