<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>digital-valley-sara</display-name>
  <welcome-file-list>
    <welcome-file>webapp/jsp/indexAutor.jsp</welcome-file>
  </welcome-file-list> 
  <!-- Adicionando os Servlets -->
  <!-- 1 -->
  <servlet>
    <servlet-name>CadastrarAvaliador</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.CadastrarAvaliador</servlet-class>
  </servlet>
  <!-- 2 -->
  <servlet>
    <servlet-name>Autenticar</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.Autenticacao</servlet-class>
  </servlet>
  <!-- 3 -->
  <servlet>
    <servlet-name>EditarCriterio</servlet-name>
    <servlet-class>br.com.n2s.sara.controller.EditarCriterio</servlet-class>
  </servlet>
  <!-- 4 -->
  <servlet>
  	<servlet-name>AdicionarCoordenador</servlet-name>
  	<servlet-class>br.com.n2s.sara.controller.AdicionarCoordenador</servlet-class>
  </servlet>
  <!-- 5 -->
  <servlet>
  	<servlet-name>AdicionarCriterio</servlet-name>
  	<servlet-class>br.com.n2s.sara.controller.AdicionarCriterio</servlet-class>
  </servlet>
   <!-- 6 -->
  <servlet>
  	<servlet-name>AdicionarTrilha</servlet-name>
  	<servlet-class>br.com.n2s.sara.controller.AdicionarTrilha</servlet-class>
  </servlet>
  <!-- Mapeando os Servlets -->
  <!-- 1 --> 
  <servlet-mapping>
    <servlet-name>CadastrarAvaliador</servlet-name>
    <url-pattern>/cadastrarAvaliador</url-pattern>
  </servlet-mapping>
  <!-- 2 -->
  <servlet-mapping>
    <servlet-name>Autenticar</servlet-name>
    <url-pattern>/autentica</url-pattern>
  </servlet-mapping>
  <!-- 3 -->
  <servlet-mapping>
    <servlet-name>EditarCriterio</servlet-name>
    <url-pattern>/editarCriterio</url-pattern>
  </servlet-mapping>
  <!-- 4 -->
  <servlet-mapping>
  	<servlet-name>AdicionarCoordenador</servlet-name>
  	<url-pattern>/adicionarCoordenador</url-pattern>
  </servlet-mapping>
   <!-- 5 -->
  <servlet-mapping>
  	<servlet-name>AdicionarCriterio</servlet-name>
  	<url-pattern>/adicionarCriterio</url-pattern>
  </servlet-mapping>
  <!-- 6 -->
  <servlet-mapping>
  	<servlet-name>AdicionarTrilha</servlet-name>
  	<url-pattern>/adicionarTrilha</url-pattern>
  </servlet-mapping>
</web-app>